.to-end{
    height: 0vh;
}

@media (min-width: 576px) { 
    .to-end{
        height: 20vh;
    }
}

@media (min-width: 768px) { 
    .to-end{
        height: 28vh;
    }
}

@media (min-width: 992px) { 
    .to-end{
        height: 45vh;
    }
}

@media (min-width: 1200px) { 
    .to-end{
        height: 57vh;
    }
}

@media (min-width: 1400px) { 
    .to-end{
        height: 66vh;
    } 
}